main,
body {
  font-size: 16px;
}

.body {
  margin-top: 50px !important;
}

.row {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

h1 {
  font-size: 2.6em;
  font-weight: 900;
  color: #2b3b61;
  margin: 16px 0px;
  padding: 16px 0px;
}

h2 {
  font-size: 2em;
  font-weight: 900;
  color: #2b3b61;
  margin: 16px 0px;
  padding: 16px 0px;
}

h3 {
  font-size: 1.8em !important;
  font-weight: 900;
  line-height: 1.2em;
  color: #2b3b61;
  margin: 16px 0px;
  padding: 16px 0px;
}

.caption-header {
  font-weight: 300;
  margin: 16px 0px;
  padding: 16px 0px;
}

p {
  font-size: 1em;
  line-height: 1.36em;
  margin: 16px 0px;
  padding: 16px 0px;
}

a {
  color: #5e8eff !important;
}

a:hover {
  background-color: #5e8eff !important;
  color: white !important;
}

button {
  border: 1px solid #5e8eff !important;
  color: #5e8eff !important;
  padding: .25rem 1rem !important;
  border-radius: 1em !important;
  font-size: 1rem !important;
  margin: .25rem .25rem .25rem 0rem !important;
}


button.lg {
  font-size: 1.4rem !important;
}

button:hover {
  background-color: #5e8eff;
  color: white !important;
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem !important;
  vertical-align: baseline;
  display: inline-block;
  line-height: 1em;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.v-slide-group__next,
.v-slide-group__prev {
  align-items: center;
  display: flex;
  flex: 0 1 0px !important;
  justify-content: center;
  min-width: 0px !important;
}




@media (max-width: 550px) {

  main {
    font-size: 16px;
  }

  h1 {
    font-size: 2.6em !important;
  }

  h3 {
    font-size: 1.6em !important;
    line-height: 1.2em;
  }

  p {
    font-size: 1em;
    line-height: 1.36em;
  }

}



@media (min-width: 1264px) {

  main {
    font-size: 16px;
  }

  .container {
    max-width: 1000px;
  }

}


@media (min-width: 960px) {}

@media (max-width: 550px) {
  .container {
    padding: 16px !important;
    margin: auto;
  }
}